<div class="products-list">
    <div class="product-tile">
        <div class="product-name-button">
            <img src="../../assets/shared/desktop/image-category-thumbnail-headphones.png" alt="Headphones thumbnail">
            <h3>HEADPHONES</h3>
            <nav routerLink="./headphones"><span>SHOP</span> <img src="../../assets/shared/desktop/icon-arrow-right.svg" alt="left arrow"></nav>
        </div>
    </div>
    <div class="product-tile">
        <div class="product-name-button">
            <img src="../../assets/shared/desktop/image-category-thumbnail-speakers.png" alt="Headphones thumbnail">
            <h3>SPEAKERS</h3>
            <nav routerLink="./speakers"><span>SHOP</span> <img src="../../assets/shared/desktop/icon-arrow-right.svg" alt="left arrow"></nav>
        </div>
    </div>
    <div class="product-tile">
         <div class="product-name-button earphones-product-list">
            <img src="../../assets/shared/desktop/image-category-thumbnail-earphones.png" alt="Headphones thumbnail">
            <h3>EARPHONES</h3>
            <nav routerLink="./earphones"><span>SHOP</span> <img src="../../assets/shared/desktop/icon-arrow-right.svg" alt="left arrow"></nav>
        </div>
    </div>
</div>
