@import '../../../styles.scss';

.products-list {
    padding: 5vh 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-tile {
    height: 290px;
    width: 350px;
}

.product-name-button {
    height: 70%;
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $lightGray;

    img {
        height: 75%;
        transform-origin: center;
        transform: translateY(-30%);
    }

    h3 {
        width: 100%;
        text-align: center;
        font-weight: 300;
        font-size: 17px;
        letter-spacing: 1px;
        margin: 0 0 10px 0;
        transform-origin: center;
        transform: translateY(-200%);
    }

    nav {
        display: inline-block;
        border: 0;
        font-size: 13px;
        cursor: pointer;
        transform-origin: center;
        transform: translateY(-190%);
        // background-color: transparent;

        span {
            color: $black;
            opacity: 0.5;
        }

        img {
            transform: translate(5px, 5px);
        }
    }

}


@media only screen and (max-width: 850px) {
    .products-list {
        padding: 3vh 2vw;
    }

    .product-tile {
        height: 220px;
        width: 230px;
    }
}
@media only screen and (max-width: 450px) {
    .products-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-tile {
        margin: 3vh 0;
    }
}