<app-navigation-bar></app-navigation-bar>
<main>
    <div class="home-landing">
        <img class="web-image-hero landing-page-img" src="../../../assets/home/desktop/image-hero.jpg" alt="headphones background">
        <img class="tab-image-hero landing-page-img" src="../../../assets/home/tablet/image-header.jpg" alt="headphones background">
        <img class="mobile-image-hero landing-page-img" src="../../../assets/home/mobile/image-header.jpg" alt="headphones background">
        <div class="landing-page-text">
            <span>NEW PRODUCT</span>
            <h1>XX99 Mark II Headphones</h1>
            <p>Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</p>
            <button>SEE PRODUCT</button>
        </div>
    </div>
    <app-products-list></app-products-list>
    <article class="zx9-speaker">ZX9 Speaker</article>
    <article class="zx7-speaker">ZX7 Speaker</article>
    <article class="yx1-earphones">YX1 Earphones</article>
    <app-about></app-about>
</main>
<app-footer></app-footer>