@import '../../../styles.scss';

main {
    overflow-y: scroll;
    overflow-x: hidden;
}

.home-landing {
    height: 100vh;
    width: 100vw;
}

.landing-page-img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.web-image-hero {
    height: 100vh;
    // width: 100vw;
}

.tab-image-hero {
    display: none;
}

.mobile-image-hero {
    display: none;
}

.landing-page-text {
    width: 50vw;
    z-index: 2;
    position: absolute;
    top: 25vh;
    left: 10vw;
    color: $white;

    span {
        opacity: 0.5;
        font-size: 14px;
        letter-spacing: 10px;
    }

    h1 {
        font-size: 58px;
        font-weight: bold;
        margin: 2vh 0;
        letter-spacing: 1.5px;
    }

    p {
        width: 55%;
        opacity: 0.75;
        padding-bottom: 30px;
        font-size: 15px;
    }

    button {
        @include orangeButton;
    }
}

@media only screen and (max-width: 850px) {
    .web-image-hero {
        display: none;
    }

    .tab-image-hero {
        display: block;
        width: 100vw;
    }

    .mobile-image-hero {
        display: none;
    }

    .landing-page-text {
        width: 80vw;
        text-align: center;
        top: 20vh;
        left: 10vw;
    
        p {
            width: 100%;
        }
    
        button {
            @include orangeButton;
        }
    }
}

@media only screen and (max-width: 450px) {
    .web-image-hero {
        display: none;
    }

    .tab-image-hero {
        display: none;
    }

    .mobile-image-hero {
        display: block;
        width: 100vw;
    }

    .landing-page-text {
        width: 80vw;
        top: 25vh;
    
        span {
            font-size: 14px;
        }
    
        h1 {
            font-size: 36px;
        }

        p {
            width: 88%;
            margin-left: 6%;
        }
    }
}