<article>
    <div class="about-text">
        <h1>Bringing you the <span>best</span> audio gear</h1>
        <p>Located at the heart of New York City, Audiophile is the premier store for high end headphones, earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration rooms available for you to browse and experience a wide range of our products. Stop by our store to meet some of the fantastic people who make Audiophile the best place to buy your portable audio equipment.</p>
    </div>
    <div class="about-image">
        <img src="../../../assets/shared/desktop/image-best-gear.jpg" class="web-best-gear" alt="best gear image">
        <img src="../../../assets/shared/tablet/image-best-gear.jpg" class="tablet-best-gear" alt="best gear image">
        <img src="../../../assets/shared/mobile/image-best-gear.jpg" class="mobile-best-gear" alt="best gear image">
    </div>
</article>
