<app-navigation-bar></app-navigation-bar>
<main>
    <div class="earphones-page-title">EARPHONES</div>
    
    <article class="earphones">
        <img src="../../../assets/product-yx1-earphones/desktop/image-category-page-preview.jpg" class="web-earphones">
        <img src="../../../assets/product-yx1-earphones/tablet/image-category-page-preview.jpg" class="tab-earphones">
        <img src="../../../assets/product-yx1-earphones/mobile/image-category-page-preview.jpg" class="mobile-earphones">
        <div class="earphones-text">
            <h6>NEW PRODUCT</h6>
            <h1>YX1 WIRELESS<br>EARPHONES</h1>
            <p>Tailor your listening experience with bespoke dynamic drivers from the new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even in noisy environments with its active noise cancellation feature.</p>
            <button>SEE PRODUCT</button>
        </div>
    </article>

    <app-products-list></app-products-list>
    <app-about></app-about>
</main>
<app-footer></app-footer>