<header>
    <div class="web-navigation">
        <div><i class="fa fa-bars"></i><img src="../../assets/shared/desktop/logo.svg" alt="audiophile logo"></div>
        <div class="nav-buttons">
            <nav routerLink="">HOME</nav>
            <nav routerLink="headphones">HEADPHONES</nav>
            <nav routerLink="speakers">SPEAKERS</nav>
            <nav routerLink="earphones">EARPHONES</nav>
        </div>
        <img src="../../assets/shared/desktop/icon-cart.svg" alt="cart icon">
    </div>
</header>